*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* Global Styles */

body{
    font-family: Avenir, Arial, Helvetica, sans-serif;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6{
    font-family: Alfa Slab One, Roboto Slab;
}

p{
    font-family: Avenir;
    line-height: 28px;
}

.button{
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border: 1px gray solid;
    background-color: #FAC500;
    font-family: Avenir, Arial, Helvetica, sans-serif;
}

.page-title{
    font-family: Alfa Slab One, Roboto;
    display: flex;
    justify-content: center;

    height: 150px;
    align-items: center;
    font-size: 40px;
    background-color: #00256B;
    color: white;
}



/* STYLES FOR HEADER PAGE*/

.header {
    display: flex;
    justify-content: space-around;
    background-color:   #00256B;
    height: 60px;

}

.header-column{
    /*border: 1px solid red;*/ /* For Debugging Purposes*/
    width: 50%;
    
}

#site-logo{
    margin-top: 20px;
    margin-left: 10%;
    width: 50px;
}

.social-icons-container{
    display: flex;
    justify-content: center;
}

.social-icons {
    height: 20px;
}

#header-twitter-icon{
    margin-left: 10px;
}

#nav-bar{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    height: 30px;
    margin: 20px;

}

.nav-item{
    color: white;
    text-decoration: none;
}

.nav-item:hover{
    color: #FAC500;
}

.nav-item:focus{
    color: #FAC500;
}



/* Styles for Footer*/

footer {
    display: flex;
    flex-direction: column;
    background-color: gray;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.footer-twitter-icon{
    height: 25px;
}




/* STYLES FOR HOME PAGE */


/* Styles for section 1 */

.home-section-1{
    /*border: 1px solid blue;*/ /* For Debugging Purposes*/
    display: flex;
    height: 580px;
    background-color:  #00256B;
}

.home-section-1-column-1{
    /*border: 1px solid blue;*/ /* For Debugging Purposes*/

    display: flex;
    width: 55%;
}
.home-section-1-column-2{
    /*border: 1px solid blue;*/ /* For Debugging Purposes*/

    display: flex;
    width: 45%;
}


.home-section-1-column-1{
    display: flex;

    text-align: left;
    justify-content: center;
    align-items: center;
}

.section-1-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    /*border: 1px dashed blue;*//* For Debugging Purposes*/
    width: 90%;
    height: 70%;
    margin-left: 90px;    
}


.section-1-content h1{
    font-size: 50px;
    font-family: Alfa Slab One;
    color:white;
}


.section-1-content p{
    width: 95%;
    font-family: Avenir;
    font-size: 20px;
    color: #E7E6E6;
    line-height: 34px;
}

#home-section-1-subtitle{
    font-size: 32px;
    color: #FAC500;
    margin-top:5px;
}

#home-section-1-description{
    margin-top: 50px;
}




#main-call-to-action-button{
    width: 60%;
    height: 60px;
    border-radius: 25px;
    background-color: #FAC500;

    margin-top: 80px;
    color: white;
    font-size: 20px;

}

.home-section-1-column-2{
    display: flex;
    justify-content: center;
    align-items: center;
}




#main-image{
    height: 300px;
}


/* Styles for Section 2*/

.home-section-2{
    display: flex;
    justify-content: center;

    background-color: #E7E6E6;
    padding: 30px;
    height: 170px;
}

.icon{
    width: 100px;
    margin: 0px 100px;
}


/* Styles for Section 3 */

.home-section-3{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;

}
.home-section-3-row-1{
    display: flex;
    justify-content: center;
}

.home-section-3-row-2{
    display: flex;
    justify-content: space-around;
    margin: 20px;

}

.home-section-3-row-3{
    display: flex;
    justify-content: center;
}
#home-section-3-title{
    font-size: 40px;
    margin: 20px;
}
.services-box{
    height: 300px;
    width:300px;
    padding: 10px;
    background-color:#E7E6E6;
    border: 1px black solid;
}

.services-box h4,
.services-box p {
    text-align: center;

}

.services-box h4{
    margin: 20px;
    font-size: 28px;
}

.services-box p{
    margin-top: 20px;
    line-height: 30px;
}

#home-section-3-services-button{
    margin: 30px;

    width: 300px;
    height: 60px;
    border-radius: 25px;
    background-color: #FAC500;

    color: white;
    font-size: 18px;
}

#home-section-3-services-button:hover{

    border: 2px solid #FAC500;
    background-color:rgb(175, 175, 175);
    color: #00256B;;

}





/* STYLES FOR ABOUT PAGE*/



.about-section-2,
.about-section-4{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    height: 250px;
}

.about-section-2 p,
.about-section-4 p{
    width: 850px;
    color: #00256B;
}

.about-section-3{
    display: flex;
    justify-content: center;

    background-color: #E7E6E6;
    padding: 20px;
    height: 200px;
}



/* STYLES FOR PORTFOLIO PAGE */

.portfolio{
    display: flex;
    justify-content: center;
    background-color: rgb(197, 197, 197);
    margin: 0px 30px 30px 30px;
    padding: 10px;
    height: 250px;
}

.portfolio-container{
    display: flex;
    flex-direction: row;
    width: 1000px;
    border: 1px solid black;
    
}

.portfolio-image{
    width: 300px;
    height: 150px;
}

.portfolio-column{
    display: flex;
    justify-content: center;
    width: 50%;
}

.portfolio-column p{
    width: 80%;
}

.project-title{
    font-size: 30px;
    text-align: center;
}

.portfolio-description{
    flex-direction: column;
    text-align: center;
}


/*STYLES FOR SERVICES PAGE */

.services-section-1,
.services-section-3{
    display: flex;
}

.services-section-1-column,
.services-section-3-column{
    display: flex;
    flex-direction: column;
    width: 50%;

    background-color: gray;
    margin: 20px;
    padding: 30px;

}

.services-section-1-column-row,
.services-section-3-column-row{
    display: flex;
    align-items: center;

    text-align: center;
}

.services-section-2-column{
    display: flex;
    flex-direction: row;

    background-color: gray;
    margin: 20px;
    padding: 30px;

}

.services-section-2-column-row{
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}

/* STYLES FOR CONTACT PAGE */

.contact-section-1{
    display: flex;
}

.contact-section-1-column{
    width: 50%;
    padding: 20px;
}
.enquiries{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.enquiries p{
    text-align: centre;


}

.enquiries h4{
    font-size: 34px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px;
}

input{
    margin: 10px 0px;
    width: 90%;
    height: 29px;
    border-radius: 5px;
    border: 1px solid #E7E6E6;
}

select{
    margin: 10px 0px;
    width: 90%;
    height: 29px;
    border-radius: 5px;
    border: 1px solid #E7E6E6;

}

.contact-submit-button{
    width: 90%
}

textarea{
    width: 90%;
    font-family: inherit;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #E7E6E6;

}

.contact-details-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #E7E6E6;
    margin: 10px;
    height: 200px;
    width: 500px;
    text-align: center;
}

.contact-details-container p {
    width: 90%;
}

.social-media-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #E7E6E6;
    margin: 10px;
    height: 200px;
    width: 500px;
    text-align: center;
}